:root{
    --color-primary: #ffffff;
    --color-secondary: #b2b2b2;
    --color-tertiary: #ffbb00;

    --color-quaternary: #000000;
    --color-quinary: #111111;
    --color-senary: #2e2e2e;
    --color-septenary: #404040;
    --color-octonary: #595959;
    --color-nonary: #717171;
    --color-denary: #9C9C9C;
    --color-eleventh: #B2B2B2;
    --color-twelfth: #CCCCCC;
    --color-thirteenth: #DEDEDE;
    --color-fourteenth: #EDEDED;
    --color-fifteenth: #F7F7F7;

    --color-sixteenth: #332200;
    --color-seventeenth: #664400;
    --color-eighteenth: #A66F00;
    --color-nineteenth: #E4A30B;
}


.text-primary{
    color: var(--color-primary);
}

.text-secondary{
    color: var(--color-secondary);
}

.text-tertiary{
    color: var(--color-tertiary);
}

.text-quaternary{
    color: var(--color-quaternary);
}

.text-quinary{
    color: var(--color-quinary);
}

.text-senary{
    color: var(--color-senary);
}

.text-septenary{
    color: var(--color-septenary);
}

.text-octonary{
    color: var(--color-octonary);
}

.text-nonary{
    color: var(--color-nonary);
}

.text-denary{
    color: var(--color-denary);
}

.text-eleventh{
    color: var(--color-eleventh);
}

.text-twelfth{
    color: var(--color-twelfth);
}

.text-thirteenth{
    color: var(--color-thirteenth);
}

.text-fourteenth{
    color: var(--color-fourteenth);
}

.text-fifteenth{
    color: var(--color-fifteenth);
}

.text-sixteenth{
    color: var(--color-sixteenth);
}

.text-seventeenth{
    color: var(--color-seventeenth);
}

.text-eighteenth{
    color: var(--color-eighteenth);
}

.text-nineteenth{
    color: var(--color-nineteenth);
}